<div class="card card-profile mb-4">
        <div class="card-header"></div>
        
        <div class="card-body text-center">
          
          <a href="answer.html">
              <div class="card-profile-img"></div>

          </a>

          <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">Matt Galat</a>
          </h6>

          <p class="mb-4">the JaYoe World Tour, a cycle/adventure tour cutting a path around the world, from Ningbo, China to Los Angeles, California. From the seat of a specially built recumbent trike, fully loaded with photo, audio and video recording and editing components, I will produce content along the way. </p>

         
        </div>
      </div>